{{#if currentUser}}
<div class="changePW-form-container">

    <div class="changePW-box">

        <h3>Change your password for {{currentUser.email}}</h3>

        <form action="/auth/change-password" method="post">

            <div class="pass-input">
                    <input type="password" name="oldpass" placeholder="Old Password">
            </div>

            <br>

            <div class="pass-input">
                    <input type="password" name="newpass" placeholder="New Password">
            </div>

            <br>

            <div class="pass-input">
                    <input type="password" name="confirmnewpass" placeholder="Confirm New Password">
            </div>

            <br>

            <button>Submit</button>
            
        </form>

    </div>

</div>
{{/if}}