

<div class="content-container">

   <div class="createContent">

<h1>Create a Book</h1>


<form action="/books/createBook" method="POST">
   
      <input class="" type="text" name="title" placeholder="Title">
   
   <br><br>

      <input type="text" name="author" placeholder="Author">
   
   <br><br>

      <input type="text" name="pages" placeholder="Number of Pages">
   
   <br><br>

      <input type="number" step="0.01" name="price" placeholder="Price">
   
   <br><br>

      <input type="text" name="genre" placeholder="Genre">
   
   <br><br>

      <input type="text" name="inventory" placeholder="Inventory">
   
   <br><br>

   <button type="submit">Create</button>
</form>

   </div>

</div>
