/*  */
body {
  padding: 10px 0 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ffffff;
  margin: 0;
  /* max-width: 1600px; */
}

.navigationItems a {
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 1rem;
  max-width: 1800px;
  margin-bottom: 40px;
  align-items: flex-end;
}

nav, .loginItems, .navigationItems {
  font-size: 1.2em;
}

.navItems-underline:hover {
  text-decoration: underline;
}

.navText-link-hover:hover {
  color: #005AD9;
  text-decoration: underline;
}


/* ====== MARGIN FOR ALL LIST & DETAIL CONTENT PAGES */

.content {
  margin: 0 0 0 50px;
}


/* ========= HOME PAGE STYLES ======== */

.hero-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 1800px;
  margin-bottom: 100px;
}

.homeLink {
  text-decoration: underline;
}

.hero-section-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  width: 1800px;
}

.heroText-section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
}

.heroText-section-1 h1 {
  font-size: 5.9em;
  margin-bottom: 15px;
}

.heroText-section-1 p {
  font-size: 1.2em;
  margin-bottom: 50px;
  line-height: 24px;
}

.heroText-section-1 .button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 50px;
  border-radius: 5px
}

.button {
  font-size: 1.2em;
  background-color: #006AFF;
}

.button:hover {
  background-color: #005AD9;
}

.button a {
  color: rgb(255, 255, 255);
}

.heroImg-section-1-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroImg-section-1-container img {
  width: 600px;
  border-radius: 15px;
}

/* ==================================== */
.parent-services-bkgnd-ext {
  background-color: #dee4e2;
}

.parent-services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1800px;
  background-color: #dee4e2;
}

.flex-valign-middle {
  display: flex !important;
  align-content: center !important;
  align-items: center !important;
  max-width: 1800px;
}

.bottom-valign-pad {
  padding: 100px;
  margin-left: 74.5px;
  margin-right: 74.5px;
}

.pad-top-bot-h1 {
  padding-top: 100px;
  padding-bottom: 60px;
  margin-left: 74.5px;
  margin-right: 74.5px;
}

.get-tools-h1 h1 {
  font-size: 4em;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  max-width: 1800px;
}

.service-section-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  margin-left: 12.5px;
  margin-right: 12.5px;
}

.service-text-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  max-width: 600px;
  background-color: #f7f7f7;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  margin-top: 25px;
  box-shadow: 0px 0px 5px #cdcdcd;
}

.service-text-section h2 {
  font-size: 2.1em;
  font-weight: lighter;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 0;
}

.service-text-section p {
  font-size: 1.2em;
  line-height: 24px;
  padding-left: 25px;
  padding-right: 25px;
}

.service-text-link {color: #006AFF;}
.service-text-link:hover {color: #005AD9;}

.service-img-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-img-section img {
  width: 500px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

.flex-halign-contact {
  display: flex;
  justify-content: center;
  /* align-content: center !important;
  align-items: center !important; */
  max-width: 1800px;
}

.flex-contact-content-box {
  margin-bottom: 15px;
}

.contact-title {
  margin: 120px 0 40px 40px;
}

.flex-contact-content-box h2 {
  font-size: 3.9em;
}

.contact-links ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.contact-links li {
  margin-right: 30px;
}

.contact-links a {
  font-size: 1.4em;
  font-weight: 900;
  color: #006AFF;
}

.stay-in-touch h3 {
  margin: 40px 0 15px 40px;
}

.stay-in-touch h3 {
  font-size: 2.2em;
}

.stay-in-touch p {
  font-size: 1.2em;
  margin: 20px 0 20px 40px;
  width: 800px;
}

.email input {
  width: 500px;
  height: 50px;
  border: 2px solid #5f5f5f;
  border-radius: 6px;
  margin:  10px 10px 30px 40px;
  padding-left: 20px;
}

.email button {
  border-radius: 6px;
  border: 1px solid #005AFF;
  padding: 14px;
  width: 6.1rem;
  background-color: #005AFF;
  color: white;
  font-size: 1.2em;
}

.privacy p {
  margin: 0px 0 20px 40px;
}

.privacy p a {
  color: #005AFF;
  font-weight: 700;
}

/* ==================================== */
footer {
  margin: 120px 0 0 0;
  padding: 0;
  background-color: rgb(0, 0, 0);
  height: 480px;
}

.footer-link-list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  max-width: 1800px;
}

.link-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  line-height: 30px;
  width: 200px;
}

.link-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer h4, .link-list a {
  color: white;
}

footer h4 {
  color: rgb(111, 111, 111);
  font-size: 1.2em;
}

.social-media-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: rgb(0, 0, 0);
  max-width: 1800px;
  border-top: 20px solid black;
  align-items: center;
}

.social-media-container p {
  color: rgb(129, 129, 129);
}

.icon-white-background {
  background-color: rgb(207, 207, 207);
  margin: 0 5px 0 5px;
}

.icons {
  display: flex;
  flex-direction: row;
  height: 25px;
  width: auto;
}

.icons img {
  height: 25px;
}