

<div class="content-container">

   <div class="createContent">

<h1>Create a Movie</h1>


<form action="/movies/createMovie" method="POST">
   
      <input type="text" name="title" placeholder="Title">
   
   <br><br>

      <input type="text" name="director" placeholder="Director">
   
   <br><br>

      <input type="text" name="runtime" placeholder="Runtime">
   
   <br><br>

      <input type="number" step="0.01" name="price" placeholder="Price">
   
   <br><br>

      <input type="text" name="genre" placeholder="Genre">
   
   <br><br>

      <input type="text" name="rating" placeholder="Rating">
   
   <br><br>

      <input type="text" name="inventory" placeholder="Inventory">

   <br><br>

   <button type="submit">Create</button>
</form>

   </div>

</div>
